<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADJh1zz0TvJLc5zfIZijbb_TcGj1blVZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>978865493971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mesh.IntroToFirebase</string>
	<key>PROJECT_ID</key>
	<string>todoapp-a0a57</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-a0a57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978865493971:ios:bb4ff47d8c08b7cf9e8126</string>
</dict>
</plist>